<section class="padding bck light">

    <div class="row">
        <div class="column_10 offset_1 text center book">
            <h1><strong>Psycho</strong>Viz</h1><br/>
            <h3 class="text book"> Ready to take the quiz?</h3><br/>
            <h5>Cool! But first, let's get a little more info from you. The answers will improve your score's accuracy.</h5>
        </div>
    </div>

    <div class="row margin-top margin-bottom text center">
        <div class="column_6 offset_3 form subscribe">
            <input type="number" class="email" placeholder="Enter your age" oldautocomplete="remove" autocomplete="off"></input>
            <select>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
              <option value="Other">Other</option>
            </select>
        </div>
        <div class="row" id="abId0.7010507672093809" style="margin-top: 30px;">
            <button class="offset_2large column_4">Start quiz!<button>
        </div>
    </div>

</section>
