<section class="padding bck light">

    <div class="row">
        <div class="column_10 offset_1 text center book">
            <h1 style="font-size:5em;"><strong>Psych</strong>Viz</h1><br/>
            <h4>Get your personality type and visualize your personality space compared to your friends</h4><br />
            <h3 class="text book"> Ready to take the quiz?</h3>
            <p>Your results will be saved so you can come back and see your friends' personalities!</p>
        </div>
    </div>

    <div class="row margin-top margin-bottom text center">
        <div class="row" id="abId0.7010507672093809" style="margin-top: 30px;">
        <div id="previous-results"  style="display:none;">
            <button class="large column_4">View previous results</button>
            <br />
            <span style="font-size:1.5em;">or</span><br />
        </div>
            <button class="md-trigger large column_4"  data-modal="modal-1" id="start_button">Start Quiz</button>
        </div>
    </div>

</section>
<div id="wrapper">
    <div class="md-modal md-effect-2" id="modal-1">
        <div class="md-content">
            <div id="question_content">
                <h3>Get ready!</h3>
                <p>This quiz has 70 questions. Click the answer that feels more accurate for you and don't overthink it. There are no wrong answers.</p>
                <p>You can close the quiz and return to the last question by clicking the start button.</p>
                <button class="large" id="begin">Begin!</button>
            </div>
            <button class="md-close large">Close</button><br />
        </div>
    </div>
</div>

<div class="md-overlay"></div>

