<h3>Question <%= Quiz.q %></h3>
<div>
  <h4><%= Quiz.quiz[Quiz.q-1]["question"] %></h4>
  <p>
    <form>
      <input type="radio" class="answer1" name="answer_a" checked><%= Quiz.quiz[Quiz.q-1]["answer_a"] %></input><br><br>
      <input type="radio" class="answer2" name="answer_a"><%= Quiz.quiz[Quiz.q-1]["answer_b"] %></input>
    </form>
  </p>
</div>
