<h3>Question <%= q +1 %></h1>
<div>
  <h4><%= quiz[q]["question"] %>
<p>
  <form>
    <input type="radio" name="answer_a"><%= quiz[q]["answer_a"] %></input><br>
    <input type="radio" name="answer_b"><%= quiz[q]["answer_b"] %></input>
    <button id="next">Next<button>
    <button class="md-close">Close me!</button>
  </form>
</p>
</div>
