<h3>Question <%= Quiz.quiz[Quiz.q-1]["q_num"] %></h3>
<div>
  <h4><%= Quiz.quiz[Quiz.q-1]["question"] %></h4>
  <p>
    <button class="answer" id="answer_a"><%= Quiz.quiz[Quiz.q-1]["answer_a"] %></button><br>
    <button class="answer" id="answer_b"><%= Quiz.quiz[Quiz.q-1]["answer_b"] %></button>
  </p>
</div>
