<h3>Question <%= q %></h1>
<div>
  <h4><%= quiz[q-1]["question"] %>
<p>
  <form>
    <input type="radio" class="answer1" name="answer_a" checked><%= quiz[q-1]["answer_a"] %></input><br><br>
    <input type="radio" class="answer2" name="answer_a"><%= quiz[q-1]["answer_b"] %></input>
  </form>
</p>
</div>
