/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.header{
  padding: 10px;
}

.friend-link div {
  margin-bottom: 4px;
}

#friends a:hover{
  color:#fff;
}

@media only screen and (max-width: 480px) {
  section.landing h1{font-size:5em !important}
  section.landing h3{font-size:2em !important}
}

#friends {
  overflow: scroll;
  max-height: 600px;
}

#personality-type {
  font-size: 2em;
  width: 100px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #2C3E50;
  border-color: #1FA08C;
  border-width: 2px;
  border-style: groove;
  cursor: pointer;
}

#devs img {
  width: 100%;
}
#devs a {
  font-size: 1.2em;
}